.btn {
    width: 185px;
    height: 48px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 4.38px;
    transition: 0.3s;
    padding: 1.3rem 3.5rem 1.1rem 3.1rem;
    border: 0;
 }
 
 .btn__orange {
     background-color:#F15D51;
     color:#FFFDFA;
 
     &:hover {
         background-color:#00001A;
     }
 }