*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    width: 185px;
    height: 48px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 4.38px;
    transition: 0.3s;
    padding: 1.3rem 3.5rem 1.1rem 3.1rem;
    border: 0;
 }
 
 .btn__orange {
     background-color:#F15D51;
     color:#FFFDFA;
 
     &:hover {
         background-color:#00001A;
     }
 }

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Inter","sans-serif";
    overflow-x: hidden;
}

img {
    display: flex;
    object-fit: cover;
}

main {
    flex-grow: 1;
}

h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1540px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
}